.track-item {
  .music {
    min-width: 18px;
    &::before {
      content: '\f001';
    }
  }
  &:hover {
    :not(.disabled):not(.play):not(.pause).music::before {
      content: '\f04b';
    }
  }
}
