.track-item {
  .icon {
    min-width: 18px;
    &::before {
      content: '\f001';
    }
  }
  &:hover {
    :not(.disabled).icon::before {
      cursor: pointer;
      content: '\f04b';
    }
  }
  &.isSelected {
    .icon::before {
      content: '\f04b';
    }
  }
}