.track-item {
  .icon {
    min-width: 18px;
    &::before {
      content: '\f001';
    }
  }
  &:hover {
    :not(.disabled):not(.play):not(.pause).icon::before {
      content: '\f04b';
    }
    .icon::before {
      cursor: pointer;
    }
  }
}